<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <br>
        <form style="height: 50vh; border-radius: 20px; background-color:  #888; width: 50%;" action="{% url 'add' %}" method="post">
            <br>
            <h1>Form Enter Your Details</h1>
            {% csrf_token %}
            <br>
            <label for="">Name</label>
            <input type="text" name="name" id="name">
            <br><br>
            <label for="">Phone</label>
            <input type="tel" name="phone" id="phone">
            <br><br>
            <label for="">Email</label>
            <input type="email" name="email" id="email">
            <br><br>
            <label for="">Gender</label>
            <input type="radio" name="gender" id="female" value="True"> Female
            <input type="radio" name="gender" id="male" value="False"> Male
            <br><br>
            <button type="submit" style="color: #fff; border: none; border-radius: 20px; padding:10px 30px; background-color:yellowgreen">Save</button>
        </form>
    </center>
    
    <br>
    <center>
        <h1>All Details</h1>
        <table border="2">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for i in alldetails %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    {% if i.gender %}
                    <td>Female</td>
                    {% else %}
                    <td>Male</td>
                    {% endif %}  
                    <td ><a href="{% url 'edit' i.id %}"><button style="color: #fff; border: none; border-radius: 20px; padding:10px 30px; background-color:green">Edit</button></a></td>
                    <td><a href="{% url 'delete' i.id %}"><button  style="color: #fff; border: none; border-radius: 20px; padding:10px 30px; background-color:red">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>
